<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smpServer</key>
	<dict>
		<key>host</key>
		<string>iriguchi.proxy.rlwy.net</string>
		<key>port</key>
		<string>19616</string>
		<key>fingerprint</key>
		<string>ujF0TdeHzUL3-erslpdKLaiE5urlO03AQlDAEWDZWao=</string>
	</dict>
	<key>xftpServer</key>
	<dict>
		<key>host</key>
		<string>iriguchi.proxy.rlwy.net</string>
		<key>port</key>
		<string>40592</string>
		<key>fingerprint</key>
		<string>-bI3k3mwrli6FcXUh0GoFk4ldogK5HPOCDo9bxuJdMg=</string>
	</dict>
	<key>pushNotifications</key>
	<false/>
</dict>
</plist>
